<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wrapped.ytmusic" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YTM wrapped</name>
    <description>youtube music as you want it</description>
    <author email="root@localhost" href="https://localhost">
        root
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="Fullscreen" value="true" />
    <preference name="OverrideUserAgent" value="Mozilla/5.0 (iPad; CPU OS 15_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.3 Mobile/15E148 Safari/604.1" />
</widget>
